.main-content {
  text-align: justify;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    // padding-left: 8px;
    // border-left: 4px solid #27aae1;
    margin-bottom: 8px;
    & + p {
      font-size: 1.125rem;
    }
  }
}
