.main-content, .pdf-page-content {
  text-align: justify;

  // ================================================== headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  h1 {
    // padding-left: 8px;
    // border-left: 4px solid #27aae1;
    margin-bottom: 8px;
    & + p {
      font-size: 1.125rem;
    }
  }

  // ================================================== list
  ul#markdown-toc {
    list-style-type: none;
    padding: 16px;
    background-color: rgba(245,246,250, 0.8);
    
    @media screen and (min-width: 1600px) {
      position: fixed;
      width: 240px;
      height: calc(100vh - 160px);
      overflow: auto;
      top: 80px;
      right: 16px;
    }

    &::before {
      content: "CONTENTS";
      font-weight: bold;
      display: block;
      margin-bottom: 16px;
    }

    ul {
      list-style-type: none;
      padding-left: 0.8em;
    }

    li a {
      word-break: keep-all;
    }

    li::before {
      display: none;
    }
  }

  // ================================================== text
  .text-red {
    color: red;
  }
  
  .text-orange {
    color: orange;
  }
  
  .text-yellow {
    color: yellow;
  }
  
  .text-green {
    color: green;
  }
  
  .text-blue {
    color: blue;
  }
  
  .text-navy {
    color: navy;
  }
  
  .text-violet {
    color: violet;
  }

  .text-gray {
    color: gray;
  }

  [class^="highlight-"] {
    color: white;
    padding: 0 4px;
    border-radius: 2px;
  }

  .highlight-red {
    background-color: red;
  }
  
  .highlight-orange {
    background-color: orange;
  }
  
  .highlight-yellow {
    background-color: yellow;
  }
  
  .highlight-green {
    background-color: green;
  }
  
  .highlight-blue {
    background-color: blue;
  }
  
  .highlight-navy {
    background-color: navy;
  }
  
  .highlight-violet {
    background-color: violet;
  }
  
  .highlight-gray {
    background-color: gray;
  }

  code {
    font-size: 0.82em;
    padding: 2px 4px;
    color: tomato;
    font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
    font-weight: 550;
  }

  .highlight code {
    font-weight: normal;
  }

  // ================================================== table
  th {
    background-color: rgba(0,0,0, 0.05);
  }
}


// pdf

.pdf {
  // 210 : 297
  width: 740px;
  margin: 0 auto;
  padding: 16px;

  position: relative;
}

// --- cover 
.pdf-title {
  margin-top: 120px;

  img {
    height: 100px;
    margin-bottom: 8px;
  }
  
  h1 {
    font-size: 80px !important;
    font-weight: bold;
    text-align: center;
    color: rgba(0,0,0, 0.7);
  }
}

.pdf-img {
  display: block;
  margin: 0 auto;
}

.pdf-cover-img {
  width: 80%;
  margin: 80px auto;
}

.pdf-version {
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.pdf-date {
  font-size: 16px;
  text-align: center;
  margin-bottom: 24px;
}

.pdf-copyright {
  text-align: center;
  color: lightgray;
  font-size: 14px;
  margin-top: 80px;
}

.pdf-ci {
  position: absolute;
  top: 24px;
  left: 24px;
}
// ---

// --- toc
#pdf-toc {
  ul {
    padding-left: 18px;
    list-style-type: none;
  }

  .first-level-list+.first-level-list {
    margin-top: 16px;
  }
  
  .second-level, .third-level {
    margin-bottom: 16px;
  }

  a {
    text-decoration: none;
  }

  // h1 {
  //   font-size: 40px !important;
  //   font-weight: bold;
  //   text-align: center;
  //   color: rgba(0,0,0, 0.7);
  // }
}

.go-to-toc {
  position: absolute;
  right: 8px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: lighter;
}
// ---

// --- page
.pdf-page-title {
  font-weight: bold;
  margin-bottom: 0;
  
  &.first-level {
    // background-color: rgba(255, 0, 0, 0.05);
    margin-top: 48px;
    font-size: 48px !important;
  }
  
  &.second-level {
    // background-color: rgba(255, 165, 0, 0.05);
    margin-top: 40px;
    font-size: 40px !important;
  }
  
  &.third-level {
    // background-color: rgba(255, 255, 0, 0.05);
    margin-top: 32px;
    font-size: 32px !important;
  }
}

.pdf-page-break {
  page-break-before: always;
}

.pdf-page-content {
  >h1 {
    display: none;
  }

  ul#markdown-toc {
    padding: 32px;
    @media screen and (min-width: 1600px) {
      position: static;
      width: 100%;
      height: fit-content;
      overflow: visible;
    }
  }

}

// ---


// home
.home-container {
  margin-top: -60px;

  .pdf-title {
    margin-top: 60px;

    h1 {
      font-size: 64px !important;
    }

  }

  .pdf-cover-img {
    margin: 40px auto;
  }

}
